future
bs4
telegraph
search_engine_parser
emoji
secureme
lxml
gitpython==3.1.31
heroku3==5.2.0
beautifulsoup4
requests
sqlalchemy==2.0.8
python-telegram-bot==20.2
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=3.8.4
Pillow>=9.5.0
CurrencyConverter
googletrans==3.0.0
jikanpy
speedtest-cli
coffeehouse
regex
python-binary-memcached
bleach
wikipedia
telethon==1.27.0
spamwatch
alphabet_detector
pyrate-limiter
cachetools
pyrogram>=2.0.103
tgCrypto>=1.2.5
fontTools
gtts
tswift
pytz
youtube_dl
PyYAML>=6.0
redis
html2text
pythonping
html_telegraph_poster
pytube
youtube-search-python
instantmusic
PyLyrics
hachoir
pybase64
pySmartDL
validators
bing_image_downloader
google-api-python-client
